h2 {
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.original, .translated {
    padding: 20px 40px;
}

.original {
    border-right: 1px solid lightgray;
}

.translated {
    background-color: #FCFCFC;
    border-left: 1px solid lightgray;
}

.article {
    color: black;
    white-space: pre-line;
}

.article p {
    font-size: 14px;
    font-family: Arial;
}