h2 {
    text-align: center;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.translated {
    background-color: #FCFCFC;
}

.article {
    padding: 20px 40px;
    color: black;
    white-space: pre-line;
}

.article p {
    font-size: 14px;
    font-family: Arial;
}