main {
  padding: 80px 40px 20px;
  background-color: white;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
}

h1 {
  margin: 0;
  font-size: 28px;
  font-weight: normal;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #DDD;
  text-transform: uppercase;
}

header {
  background-color: #2853c9;
  padding: 20px 40px;
  box-shadow: 0 0 8px 4px lightgray;
  z-index: 100;
  position: fixed;
  width: 100%;
}

