main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

#loading-screen {
  width: 40px;
  height: 40px;
}

#loading-screen::after {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #555;
  border-top-color: #999;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

