*, *:before, *:after {

  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

html, body {
  margin: 0;
  background-color: #DDD;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.logo img {
  width: 25vw;
}

p {
  font-size: 20px;
}